.App {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.App-header {
  min-height: 100vh;
  background-image: url("./port-background.bmp");
  background-size: cover;
  filter: brightness(0.2);
}

.icon-section {
  width: 15vw;
  height: 30vh;
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: -20px;
}

.linkedin,
.github,
.email,
.resume {
  height: 25%;
  width: 100%;
  overflow: hidden;
  color: white;
  margin-top: 12px;
}

i {
  width: 95%;
  font-size: 40px;
  cursor: pointer;
}

.fa-linkedin:hover {
  color: rgb(55, 55, 182);
}

.fa-github:hover {
  color: rgb(148, 148, 148);
}
.fa-paper-plane:hover {
  color: rgb(0, 128, 248);
}
.fa-file:hover {
  color: rgb(255, 97, 195);
}

.title-section {
  width: 30vw;
  margin-top: -96vh;
  margin-left: 65vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  /* border: solid;
  border-color: red; */
}

h2 {
  font-size: 60px;
}

h1 {
  font-size: 100px;
  margin-top: -30px;
}

h4 {
  font-size: 40px;
  font-style: italic;
  margin-top: -10px;
  font-family: "Permanent Marker", cursive;
}

h5 {
  margin-top: 10px;
  font-size: 30px;
  text-decoration: underline;
  color: aqua;
}

.skills-section {
  width: 11vw;
  height: 16vh;
  margin-top: -73vh;
  margin-left: 65vw;
  position: fixed;
  /* display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around; */
  /* border: solid;
  border-color: red; */
  color: aqua;
}

.top-skills {
  margin-right: 125px;
}

img {
  /* border: dashed; */
  height: 150px;
  width: 180px;
}

.skill-list {
  width: 50vw;
  height: 44vh;
  margin-top: -49vh;
  margin-left: 19vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
  /* border: solid;
  border-color: red; */
  color: white;
}

h6 {
  font-size: 30px;
  font-style: italic;
  margin-top: -10px;
  font-family: "Permanent Marker", cursive;
}

.html {
  color: rgb(211, 93, 24);
}

.css {
  color: rgb(0, 110, 255);
}

.mongoDB {
  color: rgb(80, 45, 45);
}

.React {
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightblue;
}

.Redux {
  margin: 0;
  color: purple;
}

.NodeJS {
  color: rgb(133, 204, 26);
}

.PostgreSQL {
  color: rgb(70, 110, 161);
}

.Javascript {
  color: rgb(216, 216, 27);
}

.about-section {
  width: 35vw;
  height: 40vh;
  margin-top: -45vh;
  margin-left: 60vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  /* border: solid;
  border-color: red; */
  color: aqua;
}

.about-section h4 {
  margin-left: 30px;
}

.about-section p {
  text-align: right;
  font-size: 24px;
  color: rgb(241, 241, 241);
  font-family: "Merriweather", serif;
}

.long-about {
  display: flex;
}

.long-about-a {
  text-align: left;
}

.about-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  /* border: solid;
  border-color: white; */
  /* color: white; */
  margin-top: 15px;
}

.about-icons i {
  margin: 27px 5px;
  width: 100px;
  color: rgb(224, 224, 224);
  font-size: 70px;
}

.projects-section {
  width: 50vw;
  height: 90vh;
  margin-top: -95vh;
  margin-left: 3vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: solid;
  border-color: red; */
  color: aqua;
  /* overflow-x: hidden;
  overflow-y: scroll; */
  font-family: "Merriweather", serif;
}

.Group {
  width: 47vw;
  padding: 25px 5px 25px 0px;
  border-bottom: solid;
  border-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Group img {
  width: 45vh;
  height: auto;
}

.listed-uses {
  width: 24vw;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: rgb(241, 241, 241);
}

.projects-section ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: circle;
}

.projects-section li {
  margin-left: 18px;
}

.summary-buttons {
  width: 17vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.button-links {
  display: flex;
  justify-content: space-between;
}

.button-links a {
  width: 45%;
}

.button-links button {
  width: 100%;
  color: rgb(241, 241, 241);
  background-color: rgba(0, 255, 255, 0.815);
  font-size: larger;
  font-weight: bolder;
  border-radius: 7px;
  cursor: pointer;
}

.Personal {
  width: 47vw;
  padding: 25px 5px 25px 0px;
  border-bottom: solid;
  border-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Personal img {
  width: 45vh;
  height: auto;
}

.NoDB {
  width: 47vw;
  padding: 25px 5px 25px 0px;
  border-bottom: solid;
  border-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NoDB img {
  width: 45vh;
  height: auto;
}
